@import '../../../styles/settings.scss';

.component {
  padding: $base-size;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 700px;
}

.textField {
  display: flex;
  flex-direction: row;
}
